	p{
		padding:0;
		margin:0;}
	body{
		background:#dcdcdc;}
  	.am-topbar{
		background:#ff0000;}
	.am-topbar .am-text-ir {
		display: block;
		margin-right: 10px;
		height: 50px;
		width: 40px;
		background:url(img/logo.png) no-repeat left 5px;
		-webkit-background-size: 40px 40px;
		background-size: 40px 40px;
	}
	.am-input-group input{
		height:47px;
		background:#e20314 url(img/search.png) right center no-repeat;
		border:0;
		border-radius:8px;
		-wenkit-border-radius:8px;
		-moz-border-radius:8px; 
	}
	.am-input-group-btn a{
		display:block;
		width:41px;
		height:35px;
		background:url(img/car.png) no-repeat;}
		
	#main div{
		background:#FFFFFF;}
	.am-type{
		padding:20px 0px 0px;
		border-bottom:3px solid #f8f8f8;}
	.am-type li{	
		text-align:center;}
	.am-type a{
		margin:0  auto;
		display:block;	
		width:72px;
		height:72px;}
	.ttc a{background:url(img/icon2.png) no-repeat;}
	.bcp a{background:url(img/icon3.png) no-repeat;}
	.bmfw a{background:url(img/icon1.png) no-repeat;}
	
	.am-news{
		margin-top:20px;}
	.am-news .title{
		color:#009944;
		font-family:"свт╡";
		font-size:13pt;
		border-right:1px solid #eee;
		padding-left:30px;}
	.am-news p{
		margin:0px;
		background:url(img/dian.png) left center no-repeat;
		padding-left:16px;
	}
	.am-adfirst{
	margin:0px 0px 20px;}
	.am-onsale div{
		padding:0px;}
	.am-onsale h3{
		height:40px;
		line-height:40px;
		padding-left:35px;
		border-bottom:1px solid #eee;}
	.am-onsale .thcp{
		border:1px solid #eee;
		height:236px;}
	.am-onsale .thcp h3{
		color:#987afb}
	.am-onsale .thcp img{
		float:left;
		width:120px;
		height:160px;
		margin:0px 20px 10px 30px;}
	.am-onsale .thcp div{
		float:left;}
	.am-onsale .thcp .productname{
		color:#333333;
		font-size:12pt;
		margin:10px 0px 30px;}
	.am-onsale .thcp .beforeprice{
		text-decoration:line-through;
		color:#CCCCCC;
		font-size:10pt;}	
	.am-onsale .thcp .afterprice{
		color:#FF0000;
		font-size:10pt;}
	.am-onsale .rmcp{
		border-bottom:1px solid #eee;
		border-top:1px solid #eee;
		height:236px;
		text-align:center;}
	.am-onsale .rmcp h3{
		color:#49ad78;
		text-align:left;}
	.am-onsale .rmcp img{
		width:150px;
		height:160px;}
	.typetabs table{margin:0px;}	
	.typetabs .productimg{
		width:50%;
		padding:10px;
		border-right:1px solid #eee;
		text-align:center;}
	.typetabs .productimg img{
		width:100%;}
	.typetabs table h2{
		margin-bottom:20px;}