<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.APIManager.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.APIManager.bean.User" >
    <id column="ul_id" property="ulId" jdbcType="INTEGER" />
    <result column="ul_name" property="ulName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ul_id, ul_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.APIManager.bean.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_list
    where ul_id = #{ulId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_list
    where ul_id = #{ulId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.APIManager.bean.UserExample" >
    delete from user_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.APIManager.bean.User" >
    insert into user_list (ul_id, ul_name)
    values (#{ulId,jdbcType=INTEGER}, #{ulName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.APIManager.bean.User" >
    insert into user_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ulId != null" >
        ul_id,
      </if>
      <if test="ulName != null" >
        ul_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ulId != null" >
        #{ulId,jdbcType=INTEGER},
      </if>
      <if test="ulName != null" >
        #{ulName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.APIManager.bean.UserExample" resultType="java.lang.Integer" >
    select count(*) from user_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_list
    <set >
      <if test="record.ulId != null" >
        ul_id = #{record.ulId,jdbcType=INTEGER},
      </if>
      <if test="record.ulName != null" >
        ul_name = #{record.ulName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_list
    set ul_id = #{record.ulId,jdbcType=INTEGER},
      ul_name = #{record.ulName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.APIManager.bean.User" >
    update user_list
    <set >
      <if test="ulName != null" >
        ul_name = #{ulName,jdbcType=VARCHAR},
      </if>
    </set>
    where ul_id = #{ulId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.APIManager.bean.User" >
    update user_list
    set ul_name = #{ulName,jdbcType=VARCHAR}
    where ul_id = #{ulId,jdbcType=INTEGER}
  </update>
  <select id="getUsers" resultMap="BaseResultMap">
  select * from user_list
  </select>
  <select id="getUserCount" resultType="int">
  select count(*) from user_list
  </select>
</mapper>